  footer{margin-top:28px;text-align:center;font-size:.95rem;color:#555}
  footer a{color:#a7a9ae;text-decoration:none;margin:0 6px}
  footer a:hover{text-decoration:underline}
  footer span{color:#aaa}
